###> carloshmarques/Build- ###

##### Folders #####
build/
dist/
node_modules/
vendor/
var/
.tmp/

# IDE's
.vscode/
.idea/
.vs/
*.sublime-project
*.sublime-workspace



##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< carloshmarques/Build- ###
